By: Denver Chernin <br>

In [1]:
#Installing necessary package for data access
import sys
!conda install --yes --prefix {sys.prefix} pandasql

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - pandasql


The following NEW packages will be INSTALLED:

  pandasql           conda-forge/noarch::pandasql-0.7.3-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates                      2021.5.30-ha878542_0 --> 2021.10.8-ha878542_0
  certifi                          2021.5.30-py39hf3d152e_0 --> 2021.10.8-py39hf3d152e_0
  openssl                                 1.1.1k-h7f98852_1 --> 1.1.1l-h7f98852_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
#Importing necessary libraries
import pandas as p #dataframes to hold tables
from pandasql import sqldf #sql to dataframe conversion for data access
from sklearn.model_selection import train_test_split #method to split dataframe into train and test sets

In [3]:
#Lambda function to make sql queries of data frames cleaner
pysqldf = lambda q: sqldf(q, globals())

In [4]:
#Reading in the college data
df_college = p.read_csv('../data/CollegePlaying.csv')

#Reading in the batting data of all players
df_batting = p.read_csv('../data/Batting.csv')

#Reading in the pitching data for all pitchers
df_pitchers = p.read_csv('../data/Pitching.csv')

#Reading in the people data (allows me to translate playerIDs into names (first and last))
df_people = p.read_csv('../data/People.csv')

#Reading in the wOBA (weighted on base average) weights for every year to use in calculations 
#as the linear equations for wOBA stays the same every year, but the weights do not
df_weights = p.read_csv('../data/wOBA_Weights.csv')

In [37]:
#Grabbing the unique playerIDs that exist in the df_college table (AKA obtaining what players played in college)
df_college_playerids = pysqldf("SELECT DISTINCT playerID from df_college where yearID >= 1955 group by playerID")

In [38]:
df_college_playerids.head(5)

    playerID
0  aardsda01
1   abadan01
2  abbotje01
3  abbotji01
4  abbotky01

In [39]:
#Grabbing all of the batting statistics for each player that went to college
df_batters_college = pysqldf("SELECT * FROM df_batting WHERE df_batting.playerID IN (SELECT * FROM df_college_playerids) and G >= 50 and AB > 0")

In [40]:
df_batters_college.head(5)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,kindaje01,1957,1,CHN,NL,72,181,18,29,3,...,12.0,1.0,0.0,8,48.0,0.0,0.0,3.0,0.0,4.0
1,altmage01,1959,1,CHN,NL,135,420,54,103,14,...,47.0,1.0,0.0,34,80.0,4.0,7.0,6.0,1.0,8.0
2,cashno01,1959,1,CHA,AL,58,104,16,25,0,...,16.0,1.0,1.0,18,9.0,3.0,5.0,1.0,2.0,0.0
3,fairlro01,1959,1,LAN,NL,118,244,27,58,12,...,23.0,0.0,4.0,31,29.0,2.0,1.0,6.0,2.0,3.0
4,hadleke01,1959,1,KC1,AL,113,288,40,73,11,...,39.0,1.0,2.0,24,74.0,0.0,1.0,2.0,3.0,6.0

In [41]:
#Grabbing all of the batting statistics for each player that DIDNT go to college
df_batters_no_college = pysqldf("SELECT * FROM df_batting WHERE df_batting.playerID NOT IN (SELECT * FROM df_college_playerids) and G >= 50 and yearID > 1955 and AB > 0")

In [42]:
df_batters_no_college.head(5)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aaronha01,1956,1,ML1,NL,153,609,106,200,34,...,92.0,2.0,4.0,37,54.0,6.0,2.0,5.0,7.0,21.0
1,adcocjo01,1956,1,ML1,NL,137,454,76,132,23,...,103.0,1.0,0.0,32,86.0,6.0,1.0,11.0,2.0,11.0
2,amorosa01,1956,1,BRO,NL,114,292,53,76,11,...,58.0,3.0,4.0,59,51.0,6.0,1.0,8.0,1.0,4.0
3,aparilu01,1956,1,CHA,AL,152,533,69,142,19,...,56.0,21.0,4.0,34,63.0,2.0,1.0,14.0,1.0,9.0
4,ashburi01,1956,1,PHI,NL,154,628,94,190,26,...,50.0,10.0,1.0,79,45.0,3.0,5.0,6.0,1.0,4.0

In [43]:
no_college_count = pysqldf("SELECT COUNT(*) as C from df_batters_no_college")
print("Number of games played >= 50, no college: " + str(no_college_count['C'].iloc[0]))

Number of games played >= 50, no college: 14747

In [44]:
college_count = pysqldf("SELECT COUNT(*) as C from df_batters_college where G >= 50")
print("Number of games played >= 50, college: " + str(college_count['C'].iloc[0]))

Number of games played >= 50, college: 9858

In [45]:
df_combined = p.concat([df_batters_college, df_batters_no_college])
df_combined = pysqldf("SELECT * FROM df_combined ORDER BY playerID")
count = pysqldf("SELECT COUNT(*) AS c FROM df_combined")
print("Number of total players: " + str(count['c'].iloc[0]))

Number of total players: 24605

$$OPS  = \frac{AB * (H + BB + HBP) + TB * (AB + BB + SF + HBP}{AB * (AB + BB + SF + HBP)}$$
<br>
$$wOBA = \frac{x*BB + x*HBP + x*1B + x*2B + x*3B + x*HR}{AB + BB - IBB + SF + HBP}$$

In [71]:
def OPS_calc(AB, H, BB, HBP, tb, SF):
    numerator = (AB * (H + BB + HBP)) + (tb * (AB + BB + SF + HBP))
    denominator = AB * (AB + BB + SF + HBP)
    return numerator/denominator

def wOBA_calc(AB, H, BB, DBL, TPL, HR, IBB, HBP, SF, year):
    numerator = (df_weights.iloc[2021 - year]['wBB'] * BB)\
                + (df_weights.iloc[2021 - year]['wHBP'] * HBP)\
                + (df_weights.iloc[2021 - year]['w1B'] * H)\
                + (df_weights.iloc[2021 - year]['w2B'] * DBL)\
                + (df_weights.iloc[2021 - year]['w3B'] * TPL)\
                + (df_weights.iloc[2021 - year]['wHR'] * HR)
    denominator = AB + BB - IBB + SF + HBP
    return numerator/denominator

In [76]:
def season_averager_and_add_college_flag_and_tb(lst_rows):
    #Take each column that will be used in wOBA and OPS and average them over the rows
        #Columns needed for wOBA = uBB (labeled BB in dataset), HBP, 1B (labeled H in dataset), 2B, 3B, HR, AB, IBB, SF, HBP
        #Columns needed for OPS = H, BB, HBP, AB, SF, TB (total bases = 1*H + 2*2B + 3*3B + 4*HR)

    #Input: list of rows for one playerID
    #Output: a row with averaged statistics for that playerID along with a 2 new columns: one which is college flag indicating whether
    #or not that playerID has gone to college, the other is the total bases for that player
    ret = []
    ret.append(lst_rows[0][0]) # maintaing the playerID
    print(ret)
    ab = 0
    h = 0
    dbl = 0
    tpl = 0
    hr = 0
    bb = 0
    ibb = 0
    hbp = 0
    sf = 0
    ops = 0
    woba = 0
    for r in lst_rows:
        year, AB, H, DBL, TPL, HR, BB, IBB, HBP, SF = r[1], r[6], r[8], r[9], r[10], r[11], r[15], r[17], r[18], r[20]
        ab += AB
        h += H
        dbl += DBL
        tpl += TPL 
        hr += HR
        bb += BB
        ibb += IBB
        hbp += HBP
        sf += SF
        tb = h + (2*DBL) + (3*TPL) + (4*HR)
        ops += OPS_calc(AB, H, BB, HBP, tb, SF)
        woba += wOBA_calc(AB, H, BB, DBL, TPL, HR, IBB, HBP, SF, year)
    seasons_played = len(lst_rows)
    ret.append(round(ab/seasons_played, 2))
    ret.append(round(h/seasons_played, 2))
    ret.append(round(dbl/seasons_played, 2))
    ret.append(round(tpl/seasons_played, 2))
    ret.append(round(hr/seasons_played, 2))
    ret.append(round(bb/seasons_played, 2))
    ret.append(round(ibb/seasons_played, 2))
    ret.append(round(hbp/seasons_played, 2))
    ret.append(round(sf/seasons_played, 2))
    ret.append(round(ops/seasons_played, 2))
    ret.append(round(woba/seasons_played, 2))
    return ret

In [77]:
curr_playerID = df_combined['playerID'].iloc[0]
lst = []
for index, row in df_combined.iterrows():
    if(curr_playerID != row[0]):
        ret = season_averager_and_add_college_flag_and_tb(lst)
        print(ret)
        lst.clear()
        curr_playerID = row[0]
        break
    else:
        print(row)
        lst.append(row)

playerID    aaronha01
yearID           1956
stint               1
teamID            ML1
lgID               NL
G                 153
AB                609
R                 106
H                 200
2B                 34
3B                 14
HR                 26
RBI              92.0
SB                2.0
CS                4.0
BB                 37
SO               54.0
IBB               6.0
HBP               2.0
SH                5.0
SF                7.0
GIDP             21.0
Name: 0, dtype: object
playerID    aaronha01
yearID           1957
stint               1
teamID            ML1
lgID               NL
G                 151
AB                615
R                 118
H                 198
2B                 27
3B                  6
HR                 44
RBI             132.0
SB                1.0
CS                1.0
BB                 57
SO               58.0
IBB              15.0
HBP               0.0
SH                0.0
SF                3.0
GIDP             13.0
Name: 1, dtype: object
playerID    aaronha01
yearID           1958
stint               1
teamID            ML1
lgID               NL
G                 153
AB                601
R                 109
H                 196
2B                 34
3B                  4
HR                 30
RBI              95.0
SB                4.0
CS                1.0
BB                 59
SO               49.0
IBB              16.0
HBP               1.0
SH                0.0
SF                3.0
GIDP             21.0
Name: 2, dtype: object
playerID    aaronha01
yearID           1959
stint               1
teamID            ML1
lgID               NL
G                 154
AB                629
R                 116
H                 223
2B                 46
3B                  7
HR                 39
RBI             123.0
SB                8.0
CS                0.0
BB                 51
SO               54.0
IBB              17.0
HBP               4.0
SH                0.0
SF                9.0
GIDP             19.0
Name: 3, dtype: object
playerID    aaronha01
yearID           1960
stint               1
teamID            ML1
lgID               NL
G                 153
AB                590
R                 102
H                 172
2B                 20
3B                 11
HR                 40
RBI             126.0
SB               16.0
CS                7.0
BB                 60
SO               63.0
IBB              13.0
HBP               2.0
SH                0.0
SF               12.0
GIDP              8.0
Name: 4, dtype: object
playerID    aaronha01
yearID           1961
stint               1
teamID            ML1
lgID               NL
G                 155
AB                603
R                 115
H                 197
2B                 39
3B                 10
HR                 34
RBI             120.0
SB               21.0
CS                9.0
BB                 56
SO               64.0
IBB              20.0
HBP               2.0
SH                1.0
SF                9.0
GIDP             16.0
Name: 5, dtype: object
playerID    aaronha01
yearID           1962
stint               1
teamID            ML1
lgID               NL
G                 156
AB                592
R                 127
H                 191
2B                 28
3B                  6
HR                 45
RBI             128.0
SB               15.0
CS                7.0
BB                 66
SO               73.0
IBB              14.0
HBP               3.0
SH                0.0
SF                6.0
GIDP             14.0
Name: 6, dtype: object
playerID    aaronha01
yearID           1963
stint               1
teamID            ML1
lgID               NL
G                 161
AB                631
R                 121
H                 201
2B                 29
3B                  4
HR                 44
RBI             130.0
SB               31.0
CS                5.0
BB                 78
SO               94.0
IBB              18.0
HBP               0.0
SH                0.0
SF                5.0
GIDP             11.0
Name: 7, dtype: object
playerID    aaronha01
yearID           1964
stint               1
teamID            ML1
lgID               NL
G                 145
AB                570
R                 103
H                 187
2B                 30
3B                  2
HR                 24
RBI              95.0
SB               22.0
CS                4.0
BB                 62
SO               46.0
IBB               9.0
HBP               0.0
SH                0.0
SF                2.0
GIDP             22.0
Name: 8, dtype: object
playerID    aaronha01
yearID           1965
stint               1
teamID            ML1
lgID               NL
G                 150
AB                570
R                 109
H                 181
2B                 40
3B                  1
HR                 32
RBI              89.0
SB               24.0
CS                4.0
BB                 60
SO               81.0
IBB              10.0
HBP               1.0
SH                0.0
SF                8.0
GIDP             15.0
Name: 9, dtype: object
playerID    aaronha01
yearID           1966
stint               1
teamID            ATL
lgID               NL
G                 158
AB                603
R                 117
H                 168
2B                 23
3B                  1
HR                 44
RBI             127.0
SB               21.0
CS                3.0
BB                 76
SO               96.0
IBB              15.0
HBP               1.0
SH                0.0
SF                8.0
GIDP             14.0
Name: 10, dtype: object
playerID    aaronha01
yearID           1967
stint               1
teamID            ATL
lgID               NL
G                 155
AB                600
R                 113
H                 184
2B                 37
3B                  3
HR                 39
RBI             109.0
SB               17.0
CS                6.0
BB                 63
SO               97.0
IBB              19.0
HBP               0.0
SH                0.0
SF                6.0
GIDP             11.0
Name: 11, dtype: object
playerID    aaronha01
yearID           1968
stint               1
teamID            ATL
lgID               NL
G                 160
AB                606
R                  84
H                 174
2B                 33
3B                  4
HR                 29
RBI              86.0
SB               28.0
CS                5.0
BB                 64
SO               62.0
IBB              23.0
HBP               1.0
SH                0.0
SF                5.0
GIDP             21.0
Name: 12, dtype: object
playerID    aaronha01
yearID           1969
stint               1
teamID            ATL
lgID               NL
G                 147
AB                547
R                 100
H                 164
2B                 30
3B                  3
HR                 44
RBI              97.0
SB                9.0
CS               10.0
BB                 87
SO               47.0
IBB              19.0
HBP               2.0
SH                0.0
SF                3.0
GIDP             14.0
Name: 13, dtype: object
playerID    aaronha01
yearID           1970
stint               1
teamID            ATL
lgID               NL
G                 150
AB                516
R                 103
H                 154
2B                 26
3B                  1
HR                 38
RBI             118.0
SB                9.0
CS                0.0
BB                 74
SO               63.0
IBB              15.0
HBP               2.0
SH                0.0
SF                6.0
GIDP             13.0
Name: 14, dtype: object
playerID    aaronha01
yearID           1971
stint               1
teamID            ATL
lgID               NL
G                 139
AB                495
R                  95
H                 162
2B                 22
3B                  3
HR                 47
RBI             118.0
SB                1.0
CS                1.0
BB                 71
SO               58.0
IBB              21.0
HBP               2.0
SH                0.0
SF                5.0
GIDP              9.0
Name: 15, dtype: object
playerID    aaronha01
yearID           1972
stint               1
teamID            ATL
lgID               NL
G                 129
AB                449
R                  75
H                 119
2B                 10
3B                  0
HR                 34
RBI              77.0
SB                4.0
CS                0.0
BB                 92
SO               55.0
IBB              15.0
HBP               1.0
SH                0.0
SF                2.0
GIDP             17.0
Name: 16, dtype: object
playerID    aaronha01
yearID           1973
stint               1
teamID            ATL
lgID               NL
G                 120
AB                392
R                  84
H                 118
2B                 12
3B                  1
HR                 40
RBI              96.0
SB                1.0
CS                1.0
BB                 68
SO               51.0
IBB              13.0
HBP               1.0
SH                0.0
SF                4.0
GIDP              7.0
Name: 17, dtype: object
playerID    aaronha01
yearID           1974
stint               1
teamID            ATL
lgID               NL
G                 112
AB                340
R                  47
H                  91
2B                 16
3B                  0
HR                 20
RBI              69.0
SB                1.0
CS                0.0
BB                 39
SO               29.0
IBB               6.0
HBP               0.0
SH                1.0
SF                2.0
GIDP              6.0
Name: 18, dtype: object
playerID    aaronha01
yearID           1975
stint               1
teamID            ML4
lgID               AL
G                 137
AB                465
R                  45
H                 109
2B                 16
3B                  2
HR                 12
RBI              60.0
SB                0.0
CS                1.0
BB                 70
SO               51.0
IBB               3.0
HBP               1.0
SH                1.0
SF                6.0
GIDP             15.0
Name: 19, dtype: object
playerID    aaronha01
yearID           1976
stint               1
teamID            ML4
lgID               AL
G                  85
AB                271
R                  22
H                  62
2B                  8
3B                  0
HR                 10
RBI              35.0
SB                0.0
CS                1.0
BB                 35
SO               38.0
IBB               1.0
HBP               0.0
SH                0.0
SF                2.0
GIDP              8.0
Name: 20, dtype: object
['aaronha01']
['aaronha01', 537.81, 164.33, 26.67, 3.95, 34.05, 63.1, 13.71, 1.24, 5.38, 5.05, 0.52]